@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@font-face{
    font-family: count;
    src: url(../Fonts/DS-DIGIB.TTF);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    background-image: url(../img/timer\ \ temporizador\ academlo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 10vh;
    font-family: Nunito;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
    gap: 1rem;
    font-size: 1.1rem;
    color: rgb(59, 165, 214);
}
nav svg{
    width: 50px;
    filter: drop-shadow(2px 2px 1px rgb(129, 199, 247));
}
h1{
    filter: drop-shadow(2px 2px 1px rgb(252, 252, 252));
}
h1 span{
    font-family: count;
    font-size: 2.5rem;
    color: rgb(17, 17, 17);
}
.div{
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, rgb(29, 29, 252), rgb(87, 173, 207));
}
.contenedor_general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 77vh;
    padding-top: 4rem;
    position: relative;
}
button{
    border-radius: 6px;
    color: antiquewhite;
}
.cintillo{
    display: flex;
    font-family: count;
    width: 370px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: -18px;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.692);
}
.cintillo p{
    color: rgb(24, 14, 0);
    font-size: 1.2rem;
}
.show{
    animation: showBtn .7s infinite;
}
.count{
    font-family: count;
    text-align: center;
    color: rgb(238, 238, 79);
    font-size: 9.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 400px;
}
.contain{
    display: flex;
    flex-direction: column;
    width: 380px;
    justify-content: space-between;
}
.panel{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7rem;
    margin-bottom: 6rem;
}
.panel_div{
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: space-evenly;
}
.panel1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 3rem;
    gap: 2px;
}
.panel2{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    width: 100%;
    height: 3rem;
    gap: 2px;
    position: relative;
}
.btn{
    height: 3rem;
    box-shadow: 2px 2px 2px 0 rgb(120, 195, 238);
}
.start{
    width: 15%;
    height: 90%;
    align-self: center;
    margin-left: 2px;
    background-color: rgb(56, 150, 84);
    font-size: 1rem;
    font-family: count;
}
#btn-up{
    position: relative;
    bottom: -2px;
    margin-right: 5px;
    filter: drop-shadow(2px 2px 1px rgb(129, 199, 247));
}
#btn-down{
    position: relative;
    top: 2px;
    margin-right: 5px;
    filter: drop-shadow(2px 2px 1px rgb(129, 199, 247));
}
.btn.push{
    box-shadow: none;
    translate: 2px 2px;
}
.sumrest.scale{
    transform: scale(.9);
}
.panel__start{
   width: 100%;
   height: 3rem;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 2.2fr;
}
.two{
    background-color: rgb(20, 20, 248);
}
.five{
    background-color: rgb(3, 118, 250);
}
.ten{
    background-color: rgb(47, 139, 245);
}
.fifteen{
    background-color: rgb(95, 164, 243);
}
.stop{
    background-color: rgb(230, 156, 19);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: count;
}
.reset{
    background-color: rgb(250, 106, 70);
    font-size: 1.5rem;
    font-family: count;
    font-weight: 600;
}
.btn:hover{
    cursor: pointer;
}
.sumrest:hover{
    cursor: pointer;
}
footer{
    text-align: center;
    color: rgb(209, 207, 207);
    background-color: rgba(0, 0, 0, 0.658);
    height: 10vh;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .6rem;
    font-weight: 400;
}
@keyframes showBtn{
    0%{
        color: rgb(24, 14, 0);
    }
    25%{
        color: rgb(70, 49, 18);
    }
    50%{
        color: rgb(59, 40, 10);
    }
    75%{
        color: rgb(88, 65, 29);
    }
    100%{
        color: rgb(24, 14, 0);
    }
}

@media screen and (min-width: 700px) {
    h1{
        font-size: 2.7rem;
    }
    h1 span{
        font-size: 4rem;
    }
}