@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    background-image: url(../img/timer\ \ temporizador\ academlo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    font-family: Nunito;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
    gap: 1rem;
    font-size: 1.7rem;
    color: rgb(59, 165, 214);
}
nav svg{
    width: 50px;
}
.div{
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, blue, rgb(87, 173, 207));
}
.contenedor_general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 77vh;
    padding-top: 5rem;
}
button{
    border-radius: 6px;
}
.count{
    font-family: Orbitron;
    text-align: center;
    color: rgb(165, 165, 99);
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 300px;
    margin-bottom: 1rem;
}
.panel{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0 .3rem;
}
.panel__start{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2.3fr;
    gap: .3rem;
    height: 42px;
    margin-bottom: .5rem;
}
.panel__edit{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .3rem;
    margin-bottom: 5rem;
}
.up{
    width: 20px;
    height: 10px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
footer{
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.658);
    height: 10vh;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    font-weight: 400;
}