@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@font-face{
    font-family: count;
    src: url(../Fonts/DS-DIGIB.TTF);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    background-image: url(../img/timer\ \ temporizador\ academlo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    font-family: Nunito;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
    gap: 1rem;
    font-size: 1.7rem;
    color: rgb(59, 165, 214);
}
nav svg{
    width: 50px;
    filter: drop-shadow(2px 2px 1px rgb(129, 199, 247));
}
nav h1{
    filter: drop-shadow(2px 2px 1px rgb(252, 252, 252));
}
.div{
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, blue, rgb(87, 173, 207));
}
.contenedor_general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 77vh;
    padding-top: 4rem;
}
button{
    border-radius: 6px;
    color: antiquewhite;
}
.count{
    font-family: count;
    text-align: center;
    color: rgb(165, 165, 99);
    font-size: 7.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 300px;
}
.contain{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
}
.panel{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7rem;
    margin-bottom: 6rem;
}
.panel_div{
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: space-evenly;
}
.panel1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 3rem;
    gap: 2px;
}
.panel2{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    width: 100%;
    height: 3rem;
    gap: 2px;
    position: relative;
}
.btn{
    height: 3rem;
    box-shadow: 2px 2px 2px 0 rgb(120, 195, 238);
}
.start{
    width: 15%;
    height: 90%;
    align-self: center;
    margin-left: 2px;
    background-color: rgb(56, 150, 84);
    font-size: 1rem;
}
#btn-up{
    position: relative;
    bottom: -11px;
    filter: drop-shadow(2px 2px 1px rgb(129, 199, 247));
}
#btn-down{
    position: relative;
    top: 2px;
    filter: drop-shadow(2px 2px 1px rgb(129, 199, 247));
}
.btn.push{
    box-shadow: none;
    translate: 2px 2px;
}
.sumrest.scale{
    transform: scale(.9);
}
.panel__start{
   width: 100%;
   height: 3rem;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 2.2fr;
}
.two{
    background-color: blue;
}
.five{
    background-color: rgb(3, 118, 250);
}
.ten{
    background-color: rgb(47, 139, 245);
}
.fifteen{
    background-color: rgb(130, 180, 238);
}
.stop{
    background-color: rgb(230, 156, 19);
    font-size: 1rem;
}
.reset{
    background-color: rgb(209, 230, 19);
    font-size: 1rem;
    color: rgb(44, 43, 43);
}



.btn:hover{
    cursor: pointer;
}
.sumrest:hover{
    cursor: pointer;
}
footer{
    text-align: center;
    color: rgb(209, 207, 207);
    background-color: rgba(0, 0, 0, 0.658);
    height: 10vh;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .6rem;
    font-weight: 400;
}